.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 4rem;
  min-height: 2rem;
  margin: 0.25rem 0;
  padding: 0.25rem 0.75rem;
  border: 1px solid;
  border-radius: 5rem;
  background-color: #fff;
  cursor: pointer;

  &:active {
    background: #000;
    color: #fff;
  }
}
